---
nomad_version: "1.9.3"
nomad_arch: "linux_amd64"
nomad_install_dir: "/usr/local/bin"

nomad_service_group: ""
nomad_service_home: ""
nomad_manage_service_account: false

nomad_task_users: []

nomad_is_server: true
nomad_bootstrap_expect: 1
nomad_bind_addr: "0.0.0.0"

nomad_client_enabled: true
nomad_client_servers:
  - "127.0.0.1:4647"

nomad_enable_raw_exec: true

nomad_download_base_url: "https://releases.hashicorp.com/nomad"

nomad_service_name: "nomad"
